# 运行时生成的配置文件
/yt-dlp-simpgo.ini
/yt-dlp.conf
/下载/

# 构建产物
dist/
rsrc.syso

# 下载的依赖
yt-dlp.exe
yt-dlp

# 二进制文件
*.exe
*.exe~
*.dll
*.so
*.dylib

# 测试产物
*.test
*.out
coverage.*
*.coverprofile
profile.cov

# Go workspace
go.work
go.work.sum

# 环境变量
.env

# 编辑器/IDE
.idea/
.vscode/
